.address-content {
    margin: 0 auto;
}

.address-inner {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    padding: 10px 25px;
}

.address-title {
    margin: 45px auto;
    text-align: center;
}

.address-form {
    margin: 20px auto;
    width: 550px;
}

.address-form__group {
    margin: 35px auto;
}

.address-form__label {
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.address-form__input {
    display: block;
    margin: auto;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.address-form__error-list {
    color: red;
}

.address-form__actions {
    margin: auto;
    width: 100%;

}

.address-form__submit {
    margin: 30px auto;
    width: 100%;
    padding: 13px;
    background-color: #ff4f4f;
    color: white;
    line-height: 1;
    font-size: 20px;
    border: none;
    border-radius: 3px;
}

.address-form__link {
    text-align: center;
}

.address-form__link-text {
    text-decoration: none;
}