.header {
    background: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000;
}

.header__inner {
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__logo {
    display: flex;
    align-items: center;
    flex: 0 0 320px;
}

.header__logo-image {
    height: 28px;
    width: auto;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header__search-form {
    width: 70%;
    margin: 0 auto;
}

.header__search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    flex: 0 0 320px;
}

.header__nav-button {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 17px;
}

.header__nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.header__nav-link--primary {
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
}


.header__link {
    color: #fff;
    font-size: 14px;
}

.header__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
}

.u-input.is-error {
    border: 2px solid #e60023;
    background-color: rgba(230, 0, 35, 0.06);
}